body {
  background-color: rgb(160, 190, 200);
  text-align: center;
}

#tableHead {
  font-size: 40px;
  border-bottom: solid;
  border-width: 10px;
}

#table {
  border: 1px solid;
  text-align: center;
}
table, td, tr, th {
  border: 1px  solid;
  border-collapse: collapse;
  font-size: 16px;
  background-color: rgba(0, 200, 150, .2);
  color: black;
  border-color: white;
}
td, tr, th {
  padding: 7px;
}
#storeStyle {
  font-weight: bold;
  color: rgb(0, 250, 0);
}

#customerStyle {
  color: rgb(250, 200, 0);
  font-weight: bold;
}

#donutStyle {
  color: rgb(200, 250, 0);
  font-weight: bold;
}

#tableDescription {
  padding: 4px;
  color: white;
  font-style: italic;
  font-size: 20px;
}

#topImgRight {
  position: relative;
  z-index: -1;
  left: 600px;
  top: 70px;
}
#topImgLeft {
  position: relative;
  z-index: -1;
  left: -250px;
  top: 70px;
}

#topImgMid{
  position: relative;
  z-index: -1;
  left: -155px;
  top: 10px;
}
