
body {
  background-color: rgb(160, 190, 200);
  text-align: center;

}

#tableHead {
  font-size: 45px;
  border-bottom: solid;
  border-width: 10px;
  font-family: 'Indie Flower', cursive;
  color: rgba(119, 86, 50, 0.9);
}

#table {
  border: 1px solid;
  text-align: center;
}
table, td, tr, th {
  border: 1px  solid;
  border-collapse: collapse;
  font-size: 16px;
  background-color: rgba(0, 200, 150, .2);
  color: black;
  border-color: white;
}
td, tr, th {
  padding: 7px;
}
#storeStyle {
  font-weight: bold;
  color: rgba(65, 248, 99, 0.9);
}

#customerStyle {
  color: rgba(119, 86, 171, 0.9);
  font-weight: bold;
}

#donutStyle {
  color: rgba(119, 51, 255, 0.9);
  font-weight: bold;
}

#tableDescription {
  padding: 4px;
  color: white;
  font-style: italic;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.infoEntry {
  font-family: 'Lobster', cursive;
}

#topImgRight {
  position: relative;
  z-index: -1;
  left: 600px;
  top: 70px;
}
#topImgLeft {
  position: relative;
  z-index: -1;
  left: -250px;
  top: 70px;
}

#topImgMid{
  position: relative;
  z-index: -1;
  left: -155px;
  top: 10px;
}

input {
  font-family: 'Rock Salt', cursive;
  font-size: .2em;
  text-align: center;
}

button {
  background-color: rgba(135, 21, 187, 0.3);
  color: white;
}

p2 {
  font-size: 1.3em;
}
